version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: Emunie_db
      MYSQL_USER: user_emunie
      MYSQL_PASSWORD: Emunie@2025
      MYSQL_ROOT_PASSWORD: RootEmunie@2025
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: user_emunie
      PMA_PASSWORD: Emunie@2025
      MYSQL_ROOT_PASSWORD: RootEmunie@2025
    ports:
      - "8080:80"
    depends_on:
      - db

  backend:
    build: ./EmunieBack
    container_name: django_backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    expose:
      - "8000"
    volumes:
      - ./EmunieBack:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media  # ✅ AJOUTER CETTE LIGNE

  frontend:
    build: ./EmunieFront
    container_name: angular_frontend
    restart: always
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - static_volume:/app/staticfiles
      - media_volume:/app/media  # ✅ DÉJÀ PRÉSENT
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
      - frontend

# Déclaration des volumes
volumes:
  db_data:
  static_volume:
  media_volume: